<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.showmyroom">
    <!-- 인터넷 사용 권한 설정 추가 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 메시지 전송 권한 설정 추가 -->
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 카메라 사용, 5.0(API 21)이상부터는 camera2 권장, 기본 내장 카메라 사용 시 권한 요청 필요 없음 -->
    <uses-feature android:name="android.hardware.camera" />

    <application
        android:name=".KakaoApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ShowMyRoom"
        android:usesCleartextTraffic="true">
        <activity android:name=".FollowListActivity"></activity>
        <activity android:name=".activity.PostSearchActivity" />
        <activity android:name=".SearchActivity" />
        <activity android:name=".activity.FeedProfileUpdateActivity" />
        <activity android:name=".activity.TagActivity" />
        <activity android:name=".activity.WriteDealActivity" />
        <activity android:name=".activity.DealPostActivity" />
        <activity android:name=".activity.NoticeActivity" />
        <activity android:name=".activity.FeedPostUpdateActivity" />
        <activity android:name=".activity.FeedPostActivity" />
        <activity android:name=".activity.WriteHomeActivity" />
        <activity android:name=".activity.FeedActivity" />
        <activity android:name=".activity.PostEditActivity" />
        <activity android:name=".activity.PostActivity" />
        <activity android:name=".activity.WritePostActivity" />
        <activity
            android:name=".activity.TitleActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.SearchActivity" />
        <activity android:name=".activity.LoginActivity2" />
        <activity android:name=".activity.MainActivity" />
        <activity
            android:name=".activity.LoginActivity"
            android:exported="true" /> <!-- 여기서 부터 밑에 까지 전체 추가해주세요 추가 -->
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Redirect URI: "kakao{NATIVE_APP_KEY}://oauth" -->
                <data
                    android:host="oauth"
                    android:scheme="kakao06b6e0d125062bc71d7f2d70dd8b20d1" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />

        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />
    </application>

</manifest>